name: On Push To Main

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"


jobs:
  build:
    runs-on: ubuntu-latest
    container: 
      image: kiloexabyte/runner-image
    steps:
      - uses: actions/checkout@v6
      - name: Cache pnpm store
        uses: actions/cache@v4
        with:
          path: ~/.local/share/pnpm/store
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-

      - name: Run Go script
        env: 
          GOFLAGS: -buildvcs=false
        run: |
          op lint
          op test
          op build
