name: On Push To Main

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"


jobs:
  build:
    runs-on: ubuntu-latest
    container: 
      image: kiloexabyte/runner-image
    steps:
      - uses: actions/checkout@v6
      - name: Run Go script
        env: 
          GOFLAGS: -buildvcs=false
          ACTIONS_CACHE_URL: ${{ env.ACTIONS_CACHE_URL }}
          ACTIONS_RUNTIME_TOKEN: ${{ env.ACTIONS_RUNTIME_TOKEN }}
        run: |
          op lint
          op test
          op build
