name: On Push To Main

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"


jobs:
  build:
    runs-on: ubuntu-latest
    container: 
      image: kiloexabyte/runner-image
    steps:
      - uses: actions/checkout@v6
      - name: Run Go script
        env: 
          GOFLAGS: -buildvcs=false
        run: |
          op lint
          op test
          op build
